name: Docs Site

on:
  push:
  pull_request:

jobs:
  build:
    # Deduplicate jobs from pull requests and branch pushes within the same repo.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4.1.7
        with:
          lfs: true

      - name: Setup Python
        uses: actions/setup-python@v5.1.1
        with:
          python-version: 3.12

      - name: Install Python Dependencies
        run: pip install -r docs/requirements.txt

      - name: Update Docs
        run: python docs/make_docs.py  # build markdown files for python files and update mkdocs.yml

      - name: Build Docs
        run: mkdocs build

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  publish_pages:
    if: github.ref == 'refs/heads/main'
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Publish Docs to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4